<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Recordings</title>
</head>
<body>

    <style>
        .recordings_div {
           margin-left: 50px;
           margin-top: 50px;
        }


        * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
 
  text-align: center;
  background-color: #f1f1f1;
}

.title {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 660px) and (max-width: 1050px) {
  .column {
    width: 50%;
    margin-bottom: 20px;
  }
}

    </style>
    
  <div class="recordings_div">
      <h3>From - <%=from%></h3>
      <h3>To - <%=to%></h3>
      <h3>Total Recordings - <%=total%></h3>
  </div>


  <div class="row">
    <% for(var i=0; i < Recordings.length; i++) { %>
      <% for(var j=0; j < Recordings[i].recording_files.length; j++) { %>
   <div class="column">
      <div class="card">
          <!-- <iframe width="100%" height="300px" src="<%= Recordings[i].recording_files[j].download_url %>" frameborder="0" allowfullscreen></iframe> -->
          <video width="100%" height="300px" src="<%=Recordings[i].recording_files[j].download_url%>" controls>
            Your browser does not support the video tag.
          </video>
        <h3 class="title"><%= Recordings[i].topic %></h3>
        </div>
    </div>

    <% } %>
    <% } %>
  
  
  </div>

</body>
</html>