<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduled Meetings</title>
</head>
<body>

    <style>
        :root {
  --border-color: rgb(225, 229, 236);
  --action-card--project-meeting: rgb(148, 139, 255);
}

body {
  font-size: 19px;
  color: rgb(37,38, 94);
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 50px repeat(3, 1fr);
  grid-template-columns: 50px repeat(4, 1fr);
  height: 100%;
}

.nav {
  grid-row: 1 / -1;
  background-color: rgb(111, 82, 237);
}

.header {
  display: grid;
  grid-column: 2 / -1;
  border-bottom: 1px solid var(--border-color);
}

.welcome {
  grid-column: 2 / 5;
  padding: 15px;
}

.welcome-card {
  background-color: yellow;
  border-radius: 5px;
  
}

.meetings {
  grid-column: span 1 / -1;
  grid-row: 2 / -1;
  border-left: 1px solid var(--border-color);
  padding: 15px;
}

.search-bar {
  grid-columns: 1fr;
}

.user-information {
  grid-columns: span 2 / -1;
}

.card {
  border-radius: 5px;
  border: 1px solid var(--border-color);
  position: relative;
  padding: 25px 65px 25px 25px;
}

.card::before {
  content: ' ';
  height: 100%;
  position: absolute;
  border-left: 5px solid var(--action-card--project-meeting);
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 4px 0 0 4px;
}

.card__icon {
  background-color: var(--action-card--project-meeting);
  position: absolute;
  border-radius: 50%;
  top: 15px;
  right: 15px;
  height: 35px;
  width: 35px;
}

.card__title {
  margin: 0 auto 8px;
}

.card-list {
    margin-bottom: 20px;
}

.card__text {
  font-size: .8em;
  margin: 0 auto 20px;
}
    </style>

    <section class="meetings">
        <h3>Scheduled Meetings</h3>
        
        <% for(var i=0; i < Meetings.length; i++) { %>

        <div class="card-list">
          <div class="card card--project-meeting">
            <h5 class="card__title"><%= Meetings[i].topic %></h5>
            <p class="card__text"><%= Meetings[i].start_time %></p>
            
            <div class="card__icon"></div>
            
            <div>
              Duration - <%= Meetings[i].duration %> Minutes
            </div>
        </div>
        </div>

        <% } %>
      </section>
    
</body>
</html>