<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>

    <style>
        .details_div {
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 200px;
            width: 50%;
            border: 3px solid green;
             padding: 10px;
        }
    </style>
 
    <div class="details_div">
        <h3>User ID : <%= userId %></h3>
        <h3>Name : <%= name %></h3>
        <h3>Email : <%= email %></h3>
        <h3>Role : <%= role %></h3>
        <h3>Personal Meeting URL : <%= url %></h3>
    </div>

 

    
</body>
</html>